html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#041726, #20132c);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-box img {
  width: 25%;
  display: block;
  margin: 0 auto;
  padding-bottom: 5%;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffffff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  color: #f403b8;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  margin-left: 25px;
  letter-spacing: 4px
}

.login-box form button {
  position: relative;
  display: inline-block;
  background: transparent;
  border: none;
  padding: 10px 30px;
  color: #f403b8;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  margin-left: 25px;
  letter-spacing: 4px
}

.login-box a:hover, .login-box button:hover {
  background: #f403b8;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f403b8,
              0 0 25px #f403b8;
}

.login-box a span, .login-box button {
  position: absolute;
  display: block;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.login-button,
.register-button {
  display: inline-block;
  padding: 10px 30px;
  color: #f403b8;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  position: relative;
  margin-top: 40px;
  margin-left: 0;
}

.login-button span:nth-child(3),
.register-button span:nth-child(3) {
  position: absolute;
  display: block;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f403b8);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}


.buttons-container {
  display: flex;
  justify-content: space-between;
}

.login-button,
.register-button {
  display: inline-block;
  padding: 10px 30px;
  color: #f403b8;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
}

.login-button:hover,
.register-button:hover {
  background: #f403b8;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f403b8, 0 0 25px #f403b8;
}

.error-message {
  display: none; /* Hide the error message by default */
  text-align: center;
  color: rgb(255, 0, 200); /* Customize the text color for the error message */
}

.success-message {
  display: none; /* Hide the success message by default */
  text-align: center; 
  color: #155724; /* Text color for the success message */
  background-color: #d4edda; /* Background color for the success message */
  border: 1px solid #c3e6cb; /* Border style for the success message */
  padding: 10px; /* Padding around the success message */
  margin-bottom: 10px; /* Bottom margin for spacing */
}

/* To override default autofill styles */
.login-box input:-webkit-autofill {
  -webkit-text-fill-color: #fff; /* Change the text color to match your input text color */
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s; /* to delay the background transition */
}

/* To remove the yellow background on autofill */
.login-box input:-webkit-autofill::first-line {
  background-color: transparent !important;
}

/* To remove the border on autofill */
.login-box input:-webkit-autofill:focus {
  border-color: transparent transparent #fff transparent !important;
  border-top-width: 0;
  background-color: transparent !important;
}
